datasets
transformers
tqdm
seaborn
pandas
numpy
matplotlib
scikit-learn
fire
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
git+https://github.com/huggingface/peft.git
sentencepiece
scipy
gradio
einops
wandb
sacrebleu
